<div id="<%= dom_id spot %>">
  <h2><%= spot.name %></h2>
  <div class="spot information">
    <p class="wave_size"><%= spot.wave_size %></p>
    <p class="difficulty"><%= spot.difficulty %></p>
    <p class="best_season"><%= spot.best_season %></p>
    <p class="latitude"><%= spot.latitude %></p>
    <p class="longitude"><%= spot.longitude %></p>
    <section class="description"><%= spot.description %></section>
  </div>
</div>
